html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  font-size: 16px;
  line-height: 110%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-face);
  color: var(--color-black-accent);

  section:last-of-type {
    padding-bottom: fluid(100, 60);
  }
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-second-face);
  color: var(--color-black-accent);
  line-height: 90%;
}

h1, .h1 {
  @include fluid-text(59, 36);

  font-weight: 700;

  &.page-title {
    font-size: fluid(62, 36);
    font-weight: 600;
  }
}

h2, .h2 {
  @include fluid-text(36, 26);

  font-weight: 600;
}

h3, .h3 {
  @include fluid-text(20, 18);

  font-weight: 600;
}

h4, .h4 {
  @include fluid-text(16, 14);

  font-weight: 600;
}

address {
  font-style: normal;
}

a,
button,
label,
input,
textarea,
select,
svg {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  transition: var(--transition-duration-longer);

  @include hover {
    color: var(--color-red-hover);
  }

  &[class] {
    text-decoration: none;
  }
}

p {
  margin-bottom: 10px;
}

:focus-visible {
  @include focus-visible;
}

:has(.swiper) {
  min-width: 0;
}

.hidden {
  display: none !important;
}

.breadcrumbs {
  &__list,
  &__item {
    display: flex;
    gap: 6px;
  }

  &__item {

    &--current {
      color: var(--color-red-hover);
    }
  }

  & + section {
    padding-top: fluid(40, 20);
  }
}

.text {
  &-red {
    color: var(--color-red-accent);
  }

  &-semibold {
    font-weight: 600;
  }
}

.desktop-br {
  @include mobile {
    display: none;
  }
}
.mobile-br {
  display: none;
  @include mobile {
    display: initial;
  }
}

.accordeon {
  &__details {
    &[open] {
      & + .accordeon__content {
        grid-template-rows: 1fr;
      }

      .accordeon__summary-arrow svg {
        rotate: 180deg;
      }
    }
  }

  &__summary {
    position: relative;
    &::-webkit-details-marker {
      display: none;
    }

    &-arrow {
      margin-left: auto;
      color: var(--color-white);
      transition-duration: var(--transition-duration-longer);
      border-radius: var(--border-radius-xs);

      @include flex-center(true);

      @include tablet {
        position: absolute;
        right: 0;
        top: 0;
      }

      svg {
        fill: none;
        transition-duration: var(--transition-duration-longer);
      }
    }
  }

  &__content {
    transition-duration: var(--transition-duration-longer);
    display: grid;
    grid-template-rows: 0fr;
    row-gap: 10px;

    &-inner {
      overflow: hidden;
      display: grid;
      row-gap: 10px;
    }
  }
}

.radio-input {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  input[type="radio"] {
    position:absolute;
    opacity:0;
    width:0;
    height:0;

    &:checked + .radio-input__dot:after {
      transform:scale(1);
    }
  }

  &__dot {
    border:1px solid var(--color-red-accent);
    border-radius:50%;
    position:relative;

    @include square(20px);

    &:after {
      content:"";
      position:absolute;
      inset:0;
      margin:auto;
      border-radius:50%;
      background:var(--color-red-accent);
      transform:scale(0.001);
      transition: transform var(--transition-duration-longer);

      @include square(14px);
    }
  }
}

//.header,
//.content > *:not(:nth-last-child(2)),
//.footer {
//    display: none !important;
//}