.product-section {
  gap: 0;

  .page-title-container {
    margin-bottom: fluid(40, 20);
  }

  .products-container {
    margin-top: fluid(25, 20);
  }

  .product-more-button {
    display: block;
    margin-inline: auto;
    margin-top: 30px;
    max-width: 600px;
    width: 100%;
    height: 48px;
  }
}