.cooking-variables {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    max-height: 285px;
    width: auto;
    height: 100%;
    aspect-ratio: 310 / 285;
    background-image: url('/src/assets/images/cookingVariableProductPhoto/after-image.png');
    background-repeat: no-repeat;

    @include tablet {
      display: none;
    }
  }

  .section__body {
    display: grid;
    row-gap: fluid(25, 20);
  }
}