.content {
  display: flex;
  flex-direction: column;
  width: initial;
  padding-top: fluid-to-laptop(175, 165);
  padding-bottom: var(--section-padding-y);


  &--reset-padding-top {
    padding-top: 0;
  }
}